@using ClientSite.WASM.App.Layouts.Ui
@using ClientSite.WASM.Widgets.Auth.Ui

@layout MainLayout
@page "/SignIn"

<PageTitle>Авторизация</PageTitle>

<div class="flex min-h-screen flex-col bg-white">

    <SignInPanel />

</div>